<style>
  .filter-time{
    width: 100%; text-align: center;
  }
</style>

<body > 

<div class="container-fuild">
  <div class="row  d-flex justify-content-center">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">                 
        <div class="row d-flex justify-content-center">
            <div class="row">
                    <form  class="filter-time">
                            <b>Cost from day:</b> 
                            <input type="date" value="31/3/2019" id="daystart" required>
                            
                            <b> to day:</b>
                            <input type="date" value="11/4/2019" id="dayto" required>
                            
                            <input type="button" value="Submit" id="dayform" class="btndashboard" >
                          </form> 
                           <div id="lineChart"style="width: 1100px; height: 500px;" ></div>
                    <hr>
            </div>
                
            {{!-- <div class="row">
                   
            </div> --}}
            <hr style="width: 100%">
          <br>
                    <form action="" class="formchart filter-time mt-50">
                            <b>Sales in:</b> 
                           <input type="number" min="1900" max="2099" step="1" value="2019" id="yearnow">
                        
                           <input type="button" value="Submit" id="yearform" class="btndashboard">
                         </form> 

            <div class="row">
                    <div id="columnchart_values" style="width: 1100px; height: 300px;margin-left:3%" ></div>

            </div>
               
                
         
          </div>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="row  circle-bar card" >
              <div class="row d-flex justify-content-center">
                  <h3>Total sales in 2019</h3>
              </div>
              
              <div class="row">
                  <div
                    data-preset="fan"
                    class="ldBar label-center"
                    data-value="{{percentTotalPrice}}"
                    data-stroke="#ffff00"
                    style="width:70%;height:70%;margin:auto"

                  ></div>
              </div>

              <div class="row  d-flex justify-content-center">
                  <h3 style="margin-top:2%">{{saleInYear}} </h3>
              </div>
              
          </div>
          <div class="row  circle-bar card">
              <div class="row d-flex justify-content-center">
                  <h3>Sales in {{month}}</h3>
              </div>
               <div class="row">
                  <div
                    data-preset="fan"
                    class="ldBar label-center"
                    data-value="{{percentSaleInMonth}}"
                    data-stroke="#1FAE66"
                    style="width:70%;height:70%;margin:auto"

                  ></div>
              </div>
              <div class="row  d-flex justify-content-center">
                  <h3 style="margin-top:2%">{{saleInMonth}}</h3>
              </div>
          </div>
          <div class="row card circle-bar">
              <div class="row d-flex justify-content-center">
                  <h3>Total seats in {{month}}</h3>
              </div>
                <div class="row">
                  <div
                    data-preset="fan"
                    class="ldBar label-center"
                    data-value="{{percentSaleInMonth}}"
                    data-stroke="#F85D2C"
                    style="width:70%;height:70%;margin:auto"

                  ></div>
              </div>
              <div class="row  d-flex justify-content-center">
                  <h3 style="margin-top:2%">{{seatInMonth}} seats</h3>
              </div>
          </div>
      </div>
  </div>  
</div>


                 
         
         
              
      </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>

$( document ).ready(function() {
    loadColumChart(0);
    loadLineChart(0,0);
});


$("#dayform").click(function (e) { 
    e.preventDefault();
    //console.log($('#daystart').val());
    $.ajax({
        type: "GET",
        url: "/admin/costchart",
        data: {
          daystart : $('#daystart').val(),
          dayto : $('#dayto').val(),
        },
        success: function (response) {
          //console.log('ab',response.daySale,response.dayArr);
          loadLineChart(response.daySale,response.dayArr);
        }
  });
    
});

$("#yearform").click(function (e) { 
    e.preventDefault();
    //console.log($('#yearnow').val());
    $.ajax({
        type: "GET",
        url: "/admin/salechart",
        data: {
          yearnow : $('#yearnow').val(),
        },
        success: function (response) {
         // console.log('ab',response.saleInMonthArr);
          loadColumChart(response.saleInMonthArr);
        }
  });
    
});


function loadColumChart(saleInMonthArr){
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);
    
    function drawBasic() {
      var max;
      if(saleInMonthArr==0)
          var sale =[{{saleInMonthArr}}];
      else
      {
          var sale=[];
          sale=saleInMonthArr;
      }
      max=Math.max(...sale)*1.25;

      if(max==0) max=10000000;
         
      //console.log(sale[0]);
       var data = google.visualization.arrayToDataTable([
            ["Element", "Sales", { role: "style" } ],
            ["Jan", sale[0], "#F85D2C"],
            ["Feb", sale[1], "#F85D2C"],
            ["Mar", sale[2], "#F85D2C"],
            ["Apr", sale[3], "#F85D2C"],
            ["May", sale[4], "#F85D2C"],
            ["Jun", sale[5], "#F85D2C"],
            ["Jul", sale[6], "#F85D2C"],
            ["Aug", sale[7], "#F85D2C"],
            ["Sep", sale[8], "#F85D2C"],
            ["Oct", sale[9], "#F85D2C"],
            ["Nov", sale[10], "#F85D2C"],
            ["Dec", sale[11], "#F85D2C"],

          ]);

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);
    
          var options = {
            title: "Sales Graph by month in " + $('#yearnow').val(),
            width: 1000,
            height: 800,
            legend: { position: "none" },
            vAxis: {
              viewWindow:{
                max:max,
                min:0,
              },
              format:'$000,000',

            }
         

          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
        }
}

function loadLineChart(daySale,dayArray){
  google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        var max;
      

        if(daySale==0){
          var dayArr=[];
          {{#each dayArr}}
            dayArr.push('{{this}}');
          {{/each}}
          var saleInDay = [{{daySale}}];
        }
        else{
          var dayArr=[];
          dayArr=dayArray;
          saleInDay=daySale;
        }

        max=Math.max(...saleInDay)*1.25;

        if(max==0) max=10000000;

        data.addColumn('date', 'Day');
        data.addColumn('number', 'Cost');
      
      for(i=0;i<dayArr.length;i++) {
          tmp=[];
          tmp.push(new Date(dayArr[i]),saleInDay[i]);
          data.addRow(tmp);
        }

        var options = {
          'title':'Cost by day',

          colors: ['#F85D2C', '#1FAE66'],
          vAxis:{

            viewWindow:{
              max:max,
              min:0
            },
            format:'$000,000',

          },
          legend: {
            position: 'bottom',
            pagingTextStyle: { color: '#666' },
            scrollArrows: 'none'
        },
          pointSize: 10,
         
          

        };
        var chart = new google.visualization.AreaChart(document.getElementById('lineChart'));
        chart.draw(data, options);
    }
}

</script>



