<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    <div class="row" id="all-event">
                        {{#each events}}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                          <div class="card text-center wow zoomIn"   onclick="location.href='/admin/events/{{id}}'">
                              <div class="card-body">
                                <img src="{{img}}" class="banner-card">
                                  <div class="content-event">
                                      <span class="event-name">{{name}}</span>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                          <span>Date</span>
                                          <p>{{date_arr.mm_en}} {{date_arr.dd}}, {{date_arr.yyyy}}</p>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                        <span>Location</span>
                                        <p>{{address}}</p>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                        <span>Status</span>
                                        <p>100/250</p>
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    
                  </div>

                    <div class="pag">
                      <nav style="float: right; margin-right:10%">
                            {{{paginate pagination paginationClass="pagination"}}}
                      </nav>
                  </div>

<script>

(() =>{  
  var li = document.getElementsByClassName("pagination")[0].getElementsByTagName("li");
  for (var i = 0; i < li.length; i++) {
      li[i].classList.add("paginate-item");
      li[i].getElementsByTagName("a")[0].classList.add("page-link");
  }
})();


$('.page-link').click(function (e) { 
  e.preventDefault();
  var queryParams = $(this).attr('href');
  $.ajax({
    type: "get",
    url: "/admin/events/filter"+queryParams,
    success: function (response) {
      $('#all-event').html(response);
    }
  });
});

</script>