<div class="container-fuild" id="content-a2-trangchitiet" >
    <div class="container"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">
            {{#each events}}
            <div class="col-md-8 col-lg-8">
                <img src="{{img}}" alt="" id="img-title">
            </div>
            <div class="col-md-3 col-lg-3" style="margin-left: 20px" >
                <div class="row">
                        <p style="color:#E27F0B;font-weight: bold;font-size:36px ">Apr</p>
                </div>

                <div class="row">
                        <p style="font-size: 20px">23</p>
                </div>

                <div class="row">
                        <p class="text-header2">{{name}}</p>
                </div>

                <div class="row">
                        <p style="color:#636363;font-weight: bold;font-size: 18px;">NTC: <a href="./about.html">{{Organization.name}}</a></p>
                </div>
                <div class="row">
                    <p class="text-header2">50.000VNĐ - 700.000VNĐ</p>
                </div>  
                <div class="row">
                    <button onclick="location.href='./booking.html'"id="ticket-button" class="btn-buy-now">Mua vé ngay</button>
                </div>
                <hr/>

            </div>
        </div>

        <div class="row" style="margin-left: 5px;margin-right: 5px;margin-top:5px">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="row text-header1" >
                    <p>{{name}}</p>
                </div>

                <div class="row text-header1" >
                    <p>Thông tin sự kiện</p>
                </div>

                <div class="row text-content" >
                    <p>{{description}}
                    </p>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  text-content" >
                <div style="margin-left: 20px">
                    <div class="row">
                            <p  class="text-header2">Thời gian</p><br>
                            <p>{{date}}</p>
                            
                           
                    </div>

                    <div class="row">
                            <a href="#" style="color:#636363;margin-bottom:5%">Thêm lịch
                                </a>
                    </div>

                    <div class="row">
                        <p  class="text-header2">Địa điểm</p><br>
                        <p>{{address}}
                                </p>
                        <a href="#googleMap" style="color:#636363;margin-bottom:5%">Xem bản đồ</a>
                    </div>
                    
                    <div class="row">
                        <div class="row">
                                <span>Chia sẽ:</span></br>
                        </div>
                        <div class="row ">
                                <div class="col-3">
                                        <button class="sharebtn"> 
                                                <i class="fab fa-facebook "></i>
                                        </button>
                                </div>
        
                                <div class="col-3">
                                    <button class="sharebtn">
                                        <i class="fab fa-twitter-square"></i>   
                                    </button>  
                                </div>
        
                                <div class="col-3">
                                        <button class="sharebtn">
                                            <i class="fas fa-envelope-square"></i>
                                        </button> 
                                </div>
             
                                <div class="col-3">
                                    <button class="sharebtn">
                                        <i class="fab fa-instagram"></i>
                                    </button>
                                </div>
        
                        </div>
                       
                       
                    </div>
                </div>
            </div>
        </div>
        <hr/>


        <div class="row  d-flex justify-content-center">
            <img src="../img/event/company.PNG" alt="">
        </div>
        <div class="row  d-flex justify-content-center">
            <a href="#">Confexhub Sdn</a>
        </div>
        <div class="row  d-flex justify-content-center">
            <p  class="center-block" >Organier of electrify VN</p>
        </div>
        <div class="row  d-flex justify-content-center" style="margin-bottom: 20px">
            <div style="margin-right: 50px">
                <button>Theo dõi</button>
            </div>
            <div >
                <button onclick ="window.location.href='./about.html'">Liên hệ</button>
            </div>
        </div>
  

        <div class="row">
            <div id="googleMap" style="width:100%;height:400px;"></div>
        </div>

        
        <div class="row d-flex justify-content-center" >
            <p class="text-header2">{{name}}</p>
        </div>
        <div class="row  d-flex justify-content-center">
            <p>at</p>
        </div>
        <div class="row d-flex justify-content-center">
            <p >{{address}}</p>
        </div>
       

        <div class="row d-flex justify-content-center">
                <div class="fb-comments" data-href="https://tickat.herokuapp.com/a2-trangchitietsp.html" data-width="" data-numposts="5"></div>
        </div>

    {{/each}}

    </div>


</div>