<style>
    .fb-comments{
        width: 100%;
        text-align: center;
        margin-top:50px;
        margin-bottom: 30px;
    }
</style>

<div class="container-fuild" id="content-a2-trangchitiet" >
    <div class="container"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">
            <div class="col-md-8 col-lg-8" style="padding-top: 20px;">
                <img src="{{event.img}}" alt="" id="img-title">
            </div>
            <div class="col-md-3 col-lg-3" style="margin-left: 20px" >
                <div class="row">
                        <p style="color:#E27F0B;font-weight: bold;font-size:36px ">{{event.date_arr.mm_en}}</p>
                </div>

                <div class="row">
                        <p style="font-size: 20px">{{event.date_arr.dd}}</p>
                </div>

                <div class="row">
                        <p class="text-header2">{{event.name}}</p>
                </div>

                <div class="row">
                        <p style="color:#636363;font-weight: bold;font-size: 18px;">NTC: <a href="/about/{{event.organization.id}}">{{event.organization.name}}</a></p>
                </div>
                <div class="row">
                    <p class="text-header2">
                        <script>
                            var min = parseInt({{event.tickets.[0].price}}), max = parseInt({{event.bought}});
                            document.write(min.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) +" - " + max.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}));
                        </script>
                        </p>
                </div>  
                <div class="row">
                    <button onclick="location.href= '/events/{{event.id}}/booking'"id="ticket-button" class="btn-buy-now">Mua vé ngay</button>
                </div>
                <hr/>

            </div>
        </div>

        <div class="row" style="margin-left: 5px;margin-right: 5px;margin-top:5px">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="row text-header1" >
                    <p>{{event.name}}</p>
                </div>

                <div class="row text-header1" >
                    <p>Thông tin sự kiện</p>
                </div>

                <div class="row text-content" id="des" >
                    {{{event.description}}}
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  text-content" >
                <div style="margin-left: 20px">
                    <div class="row">
                            <p  class="text-header2">Thời gian</p><br>
                            <p>{{event.date}}</p>      
                    </div>

                    <div class="row">
                            <a href="#" style="color:#636363;margin-bottom:5%">Thêm lịch
                                </a>
                    </div>

                    <div class="row">
                        <p  class="text-header2">Địa điểm</p><br>
                        <p>{{event.address}}</p>
                        <a href="#googleMap" style="color:#636363;margin-bottom:5%">Xem bản đồ</a>
                    </div>
                    
                    <div class="row">
                        <div class="row">
                                <span>Chia sẻ:</span></br>
                        </div>
                        <div class="row ">
                                <div class="col-3">
                                        <button class="sharebtn"> 
                                                <i class="fab fa-facebook "></i>
                                        </button>
                                </div>
        
                                <div class="col-3">
                                    <button class="sharebtn">
                                        <i class="fab fa-twitter-square"></i>   
                                    </button>  
                                </div>
        
                                <div class="col-3">
                                        <button class="sharebtn">
                                            <i class="fas fa-envelope-square"></i>
                                        </button> 
                                </div>
             
                                <div class="col-3">
                                    <button class="sharebtn">
                                        <i class="fab fa-instagram"></i>
                                    </button>
                                </div>
        
                        </div>
                       
                       
                    </div>
                </div>
            </div>
        </div>
        <hr/>


        <div class="row  d-flex justify-content-center">
            <img src="../img/event/company.PNG" alt="">
        </div>
        <div class="row  d-flex justify-content-center">
            <a href="#">{{event.organization.name}}</a>
        </div>
        <div class="row  d-flex justify-content-center">
            <p  class="center-block" ><a href="{{event.organization.website}}">{{event.organization.website}}</a></p>
        </div>
        <div class="row  d-flex justify-content-center" style="margin-bottom: 20px">
            <div style="margin-right: 50px">
                <button>Theo dõi</button>
            </div>
            <div >
                <button onclick ="window.location.href='./about.html'">Liên hệ</button>
            </div>
        </div>
  

        <div class="row">
            <div id="googleMap" style="width:100%;height:400px;"></div>
        </div>

        <br>
        
        <div class="row d-flex justify-content-center" >
            <p class="text-header2">{{event.name}}</p>
        </div>
        <div class="row  d-flex justify-content-center">
            <p>at</p>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="text-header2">{{event.address}}</p>
        </div>

        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3&appId=845465725827033&autoLogAppEvents=1"></script>

<div class="fb-comments" data-href="https://ptudw-cntn2016-nhom05.herokuapp.com/events/{{event.id}}" data-width="90%" data-numposts="5"></div>

    </div>


</div>



<script>
    var x = "bg-event-" + Math.floor(Math.random() * 10)%5;
    document.getElementById('content-a2-trangchitiet').classList.add(x);
    

    var address = `{{event.address}}`;
    address.replace(' ',"+");
        function myMap() {
            $.ajax({
                type: "get",
                url: "https://maps.googleapis.com/maps/api/geocode/json",
                data: {
                    address: address,
                    key: "AIzaSyCyNHZkYQN8-3BQWDmDFADQZeqLmBWvWcY"
                },
                success: function (response) {
                    var pos =  {lat:10.762940, lng: 106.682257};
                    try{
                        if(typeof response.results[0].geometry.location !== 'undefined')
                             pos=response.results[0].geometry.location;
                    }catch(err) {
                        console.log(err);
                    }
                    console.log({pos});
                    pos = new google.maps.LatLng(pos.lat, pos.lng);
                    var mapProp= {
                        center: pos,
                        zoom:16,
                    };
                    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
                    var marker = new google.maps.Marker({
                        position: pos
                    });

                    marker.setMap(map);
                }
            });
            
        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyNHZkYQN8-3BQWDmDFADQZeqLmBWvWcY&callback=myMap"></script>
    <!--end map script -->
