 <style>
      tbody {
        counter-reset: rowNumber;
      }
      tbody tr {
        counter-increment: rowNumber;
      }
      tbody tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
      }

      .dashboard-event .card{
        background: rgb(245, 245, 245);
        padding: 4px
      }

      .dashboard-event .card:hover{
        background:white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .dashboard-event .card .content-event{
        height: 25px;
        overflow: hidden
      }

      .dashboard-event .card .card-body .info-event p{
        height: 20px;
        overflow: hidden
      }
      .pag{
        margin-top: 30px;
        width:100%
      }
      li.active .page-link{
        color: white; background: blue;
      }
      .filter{
        margin-top: 0px;
        margin-right: 10px;
        background: #fbfbfb;
        padding: 30px;
        border-radius: 15px;
      }
 </style> 
       <div class="row event dashboard-event">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9" style="padding-left:60px;">
                <div class="filter">
                  <div style="text-align: -webkit-right; margin-right:10px; ">
                    <select id="orderBy" class="form-control sort" required="required">
                      <option value="-1">Sort by</option>
                      <option value="1">Price: High to low</option>
                      <option value="2">Price: Low to high</option>
                      <option value="3">Time: Oldest</option>
                      <option value="4">Time: Newest</option>
                    </select>                    
                  </div>
                       <div class="form-group" style="display: -webkit-inline-box;">
                    <label for="input" class="col-sm-2 control-label label-datepicker">Start:</label>
                    <div class="col-sm-10">
                      <input type="date" id="start" class="form-control" value="" required="required" title="">
                    </div>
                  </div>

                  <div class="form-group" style="display: -webkit-inline-box;margin-left: 30px;">
                      <label for="input" class="col-sm-2 control-label label-datepicker">End:</label>
                      <div class="col-sm-10">
                        <input type="date" id="end" class="form-control" value="" required="required" title="">
                      </div>
                  </div>

                  
                   <div class="form-group" style="display: -webkit-inline-box;margin-left: 30px;">
                    <label class="label-datepicker">Status</label>
                    <select class="custom-select ml-20" id="status" style="width: fit-content;">
                      <option value="-1">All</option>
                      <option value="1">Active</option>
                      <option value="0">Stopped</option>
                    </select>
                  </div>

                  <button type="button" class="btn btn-warning bg-primary color-white ml-30" id="filter">Filter</button>
                </div>
                <hr>
                <div class="row"  id="all-event">

                  
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    <div class="row">
                        {{#each events}}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                          <div class="card text-center wow zoomIn"   onclick="location.href='/admin/events/{{id}}'">
                              <div class="card-body">
                                <img src="{{img}}" class="banner-card">
                                  <div class="content-event">
                                      <span class="event-name">{{name}}</span>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                          <span>Date</span>
                                          <p>{{date_arr.mm_en}} {{date_arr.dd}}, {{date_arr.yyyy}}</p>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                        <span>Location</span>
                                        <p>{{address}}</p>
                                      </div>
                                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                        <span>Status</span>
                                        <p>100/250</p>
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    
                  </div>

                    <div class="pag">
                      <nav style="float: right; margin-right:10%">
                            {{{paginate pagination paginationClass="pagination"}}}
                      </nav>
                  </div>
                </div>
              </div>
              
              
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 border-left" style="text-align: -webkit-center;">
                <div class="right-box">
                  <div>
                    <span class="total-event">Total seat sale in year</span>
                  <p>{{totalTicketInYear}} seats</p>
                  </div>
                  <hr>
                  <div class="row  d-flex justify-content-center">
                  <div
                    data-preset="fan"
                    class="ldBar label-center"
                    data-value="{{percentTotalPrice}}"
                    data-stroke="#1FAE66"
                    style="width:70%;height:70%"

                    ></div>
                </div>
                <hr>
                <div>
                  <div class="title-top">Top events</div>
                  <div class="top-event wow bounceInUp">
                    <table class="table table-hover table-inverse table-responsive">
                      <thead class="thead-inverse">
                        <tr>
                          <th>Top</th>
                          <th>Status</th>
                          <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                          {{#each topticketevents}}
                          <tr>
                            <td ></td>
                            <td>{{bought}} / {{amount}}</td>
                            <td>{{event.name}}</td>
                          </tr>
                          {{/each}}
                         
                        </tbody>
                    </table>
                  </div>
                </div>

                
              </div>

        </div>

        
    
      
    </div>
    

    </div>

    <!-- body end -->

<script>

  $('#filter').click((e)=>{
    e.preventDefault();
  filter();
  });
  $('#orderBy').change(function (e) { 
        e.preventDefault();
        var orderID = parseInt($(this).val());
        var order = {
            order_by : "",
            order: "desc"
        };
        switch (orderID) {
            case 1:    order.order_by = "price"; break;
            case 2:     order.order_by = "price", order.order = "asc"; break;
            case 3:     order.order_by = "date"; break;
            case 4:     order.order_by = "date", order.order = "asc"; break;
            default: order = null; break;
        };

        filter(order);
    });

function filter(order=null){
  var data = {};
  if(order!=null && typeof order != 'undefined')
    data.order = order;

  var status = $('#status').val();
  var start = $('#start').val();
  var end = $('#end').val();
  var validate = true;

    if(start != "" && end){
       var x = new Date(start);
       var y = new Date(end);
       if(x.getTime()>y.getTime())
          validate=false;
    }

    if(validate==true){
      if(status !=-1){
        var z = new Date();
      
      if(status==1){
        if(start != ""){
          var x = new Date(start);
          if(x.getTime()<z.getTime())
            start = z.toDateString();
        }else start = z.toDateString(); 
      }else if(status==0){
        if(end != ""){
          var y = new Date(end);
          if(y.getTime()>z.getTime())
            end = z.toDateString();
        }else end = z.toDateString(); 
      }
      }
      if(start !=="")
        data.start = start;
      if(end !=="")
        data.end = end;

      $.ajax({
          type: "GET",
          url: "/admin/events/filter",
          data: data,
          success: function (response) {
              $('#all-event').html(response);
          }
      });
    }else alert("Start date can not greater than end date");
}
</script>