 <style>
      .dashboard-event .card{
        background: rgb(245, 245, 245);
        padding: 4px
      }

      .dashboard-event .card:hover{
        background:white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .dashboard-event .card .event-name{
        height: 20px;
        overflow: hidden
      }

      .dashboard-event .card .card-body .info-event p{
        height: 20px;
        overflow: hidden
      }
 </style> 
       <div class="row event dashboard-event">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9" style="padding-left:60px;">
                <div class="filter">
                  <div style="text-align: -webkit-right; margin-right:10px; ">
                    <span class="filter-box" title="Filter" data-toggle="modal" data-target="#modalFilter"><i class="fa fa-filter" aria-hidden="true"></i></span>

                    <select name="" id="input" class="form-control sort" required="required">
                      <option value="">Sort by</option>
                      <option value="">Price: Low to high</option>
                      <option value="">Price: High to low</option>
                      <option value="">Time: Newest</option>
                      <option value="">Time: Oldest</option>
                    </select>                    
                  </div>
                </div>
                <div class="row">

                {{#each events}}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                  <div class="card text-center wow zoomIn"   onclick="location.href='/admin/events/{{id}}'">
                      <div class="card-body">
                        <img src="{{img}}" class="banner-card">
                          <div class="content-event">
                              <span class="event-name">{{name}}</span>
                          </div>
                          <div class="row">
                              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                  <span>Date</span>
                                  <p>{{date_arr.mm_en}} {{date_arr.dd}}, {{date_arr.yyyy}}</p>
                              </div>
                              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                <span>Location</span>
                                <p>{{address}}</p>
                              </div>
                              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-event">
                                <span>Status</span>
                                <p>100/250</p>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
                {{/each}}

                </div>
              </div>
              
              
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 border-left" style="text-align: -webkit-center;">
                <div class="right-box">
                  <div>
                    <span class="total-event">Total events in year</span>
                  <p>{{totalTicketInYear}}</p>
                  </div>
                  <hr>
                  <div class="row  d-flex justify-content-center">
                  <div
                    data-preset="fan"
                    class="ldBar label-center"
                    data-value="{{percentTotalPrice}}"
                    data-stroke="#1FAE66"
                    style="width:70%;height:70%"

                    ></div>
                </div>
                <hr>
                <div>
                  <div class="title-top">Top events</div>
                  <div class="top-event wow bounceInUp">
                    <table class="table table-hover table-inverse table-responsive">
                      <thead class="thead-inverse">
                        <tr>
                          <th>Top</th>
                          <th>Status</th>
                          <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">1</td>
                            <td>520</td>
                            <td>Đêm nhạc phim</td>
                          </tr>
                          <tr>
                            <td scope="row">2</td>
                            <td>490</td>
                            <td>MSI LEAGUE OF LEGEND
                            </td>
                          </tr>
                          <tr>
                            <td scope="row">3</td>
                            <td>484</td>
                            <td>CRAZY Water Festival - V Wave 2019
                            </td>
                          </tr>
                          <tr>
                            <td scope="row">4</td>
                            <td>370</td>
                            <td>Buffet Equatorial
                            </td>
                          </tr>
                          <tr>
                            <td scope="row">5</td>
                            <td>200</td>
                            <td>MSI LEAGUE OF LEGEND
                            </td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>

                
              </div>

        </div>

        <div class="pag">
            <nav>
                  {{{paginate pagination paginationClass="pagination"}}}
            </nav>
        </div>
    
      
    </div>
    

    </div>

    <!-- body end -->

    <!-- modal filter start-->
    <!-- Button trigger modal -->    
    <!-- Modal -->
    <div class="modal fade" id="modalFilter" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter events</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          <div class="modal-body">
            <div class="container-fluid">
              
              
              <div class="form-group" style="display: -webkit-inline-box;">
                <label for="input" class="col-sm-2 control-label label-datepicker">Start:</label>
                <div class="col-sm-10">
                  <input type="date" name="" id="input" class="form-control" value="" required="required" title="">
                </div>
              </div>

              <div class="form-group" style="display: -webkit-inline-box;margin-left: 30px;">
                  <label for="input" class="col-sm-2 control-label label-datepicker">End:</label>
                  <div class="col-sm-10">
                    <input type="date" name="" id="input" class="form-control" value="" required="required" title="">
                  </div>
              </div>
              
              <div class="form-check form-check-inline ml-100" >
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="by" id="" value="checkedValue"> By time created
                </label>

                <label class="form-check-label ml-30">
                    <input class="form-check-input" type="radio" name="by" id="" value="checkedValue"> By time occurs
                  </label>
              </div>
              
              <div class="form-group mt-20 ml-20">
                <label class="label-datepicker">Status</label>
                <select class="custom-select ml-20" name="" id="" style="width: fit-content;">
                  <option value="">Active</option>
                  <option value="">Stopped</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning bg-primary color-white">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    
     <!-- modal filter end-->