
 
<body > 
       
 
    <!-- body start --> 
    

<div class="container-fuild">
  <div class="row  d-flex justify-content-center">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">                 
        <div class="row d-flex justify-content-center">
            <div class="row">
                    <form action="" >
                            <b>Cost from day:</b> 
                            <input type="date" name="from" value="31/3/2019">
                            
                            <b> to day:</b>
                            <input type="date" name="to" value="11/4/2019">
                            
                            <input type="submit" value="Submit" class="btndashboard">
                          </form> 
            </div>
                
            <div class="row">
                    <div id="lineChart"style="width: 1100px; height: 500px;" ></div>


                    <hr>
            </div>

            <div class="row">
                    <form action="" class="formchart">
                            <b>Sales in:</b> 
                           <input type="text" name="year" value="2019">
                        
                           <input type="submit" value="Submit" class="btndashboard">
                         </form> 
            </div>
            <div class="row">
                    <div id="columnchart_values" style="width: 1100px; height: 300px;margin-left:3%" ></div>

            </div>
               
                
         
          </div>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="row  circle-bar card" >
              <div class="row d-flex justify-content-center">
                  <h3>Total sales in 2019</h3>
              </div>
              
              <div class="row">
                  <div
                    data-preset="fan"
                    class="ldBar label-center"
                    data-value="{{percentTotalPrice}}"
                    data-stroke="#ffff00"
                    style="width:70%;height:70%;margin:auto"

                  ></div>
              </div>

              <div class="row  d-flex justify-content-center">
                  <h3 style="margin-top:2%">{{saleInYear}} </h3>
              </div>
              
          </div>
          <div class="row  circle-bar card">
              <div class="row d-flex justify-content-center">
                  <h3>Sales in {{month}}</h3>
              </div>
               <div class="row">
                  <div
                    data-preset="fan"
                    class="ldBar label-center"
                    data-value="{{percentSaleInMonth}}"
                    data-stroke="#1FAE66"
                    style="width:70%;height:70%;margin:auto"

                  ></div>
              </div>
              <div class="row  d-flex justify-content-center">
                  <h3 style="margin-top:2%">{{saleInMonth}}</h3>
              </div>
          </div>
          <div class="row card circle-bar">
              <div class="row d-flex justify-content-center">
                  <h3>Total seats in {{month}}</h3>
              </div>
                <div class="row">
                  <div
                    data-preset="fan"
                    class="ldBar label-center"
                    data-value="{{percentSaleInMonth}}"
                    data-stroke="#F85D2C"
                    style="width:70%;height:70%;margin:auto"

                  ></div>
              </div>
              <div class="row  d-flex justify-content-center">
                  <h3 style="margin-top:2%">{{seatInMonth}} seats</h3>
              </div>
          </div>
      </div>
  </div>  
</div>


                 
         
         
              
      </div>
</div>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script>
  $( document ).ready(function() {
    loadColumChart();
    loadLinechart();
});



function loadColumChart(){
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);
    
    function drawBasic() {
      console.log('anc');
     var sale =[{{saleInMonthArr}}];
      //console.log(sale[0]);
       var data = google.visualization.arrayToDataTable([
            ["Element", "Sales", { role: "style" } ],
            ["Jan", sale[0], "#F85D2C"],
            ["Feb", sale[1], "#F85D2C"],
            ["Mar", sale[2], "#F85D2C"],
            ["Apr", sale[3], "#F85D2C"],
            ["May", sale[4], "#F85D2C"],
            ["Jun", sale[5], "#F85D2C"],
            ["Jul", sale[6], "#F85D2C"],
            ["Aug", sale[7], "#F85D2C"],
            ["Sep", sale[8], "#F85D2C"],
            ["Oct", sale[9], "#F85D2C"],
            ["Nov", sale[10], "#F85D2C"],
            ["Dec", sale[11], "#F85D2C"],

          ]);

      /*    var data = new google.visualization.DataTable();
          data.addColumn('string','Month');
          data.addColumn('number','Sales');
          data.addRows([
            ["Jan", {{saleInMonthArr}}, { role: "#F85D2C" }],
            ["Jan", {{saleInMonthArr}},{ role: "#F85D2C" }],

          ])*/
    
          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);
    
          var options = {
            title: "Sales Graph by month 2019",
            width: 1000,
            height: 800,
            legend: { position: "none" },
            vAxis: {format:'$000,000',max:120000}
         

          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
        }
}





function loadLinechart(){
  google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var dayArr=[];
        {{#each dayArr}}
          dayArr.push('{{this}}');
        {{/each}}

       
        var saleInDay = [{{daySale}}];

        console.log(dayArr);
        
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Day');
        data.addColumn('number', 'Cost');
      
      
        data.addRows([

         [new Date(dayArr[0]),saleInDay[0]],
         [new Date(dayArr[1]),saleInDay[1]],
         [new Date(dayArr[2]),saleInDay[2]],
         [new Date(dayArr[3]),saleInDay[3]],
         [new Date(dayArr[4]),saleInDay[4]],
         [new Date(dayArr[5]),saleInDay[5]],
        [new Date(dayArr[6]),saleInDay[6]],
         [new Date(dayArr[7]),saleInDay[7]],
         [new Date(dayArr[8]),saleInDay[8]],
         [new Date(dayArr[9]),saleInDay[9]]



        ]);

        var options = {
          'title':'Cost chart',

          colors: ['#F85D2C'],
          vAxis:{
            viewWindow:{
              max:1000
            }
          },
          legend: {
            position: 'bottom',
            pagingTextStyle: { color: '#666' },
            scrollArrows: 'none'
        },
          pointSize: 10,
          vAxis: {format:'$000,000'}

        };
        var chart = new google.visualization.AreaChart(document.getElementById('lineChart'));
        chart.draw(data, options);
    }
}


</script>



